<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img style="margin-top: 10px; margin-bottom: 10px; margin-left: -110px"
                src="https://farm1.staticflickr.com/898/42439685992_cb60d88e9e_b.jpg" alt="Luxstay" width="180"
                height="55"  [routerLink]="['/homepage']" routerLinkActive="router-link-active" >
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>
    </div>
</div>
<div class="pg-account-menu d-none d-md-block">
    <div id="menu" class="container container--sm"><a [routerLink]="['/homepage/me/bookings']" routerLinkActive="router-link-active"  class=""><span class="rel">Đặt chỗ của
                tôi</span>
            <!----></a><a href="/vi/me/messages" class=""><span class="rel">Tin nhắn</span>
            <!----></a><a [routerLink]="['/homepage/me/edit-account']" routerLinkActive="router-link-active" 
            class="nuxt-link-exact-active nuxt-link-active active"><span class="rel">Cài đặt tài khoản</span>
            <!----></a><a href="/vi/me/lux-coin" class=""><span class="rel">Lux Coin</span>
            <!----></a><a href="/vi/me/wish-list" class=""><span class="rel">Yêu thích</span>
            <!----></a></div>
</div>
<router-outlet></router-outlet>