
/*  */
.bg-dark {
  background-color: #343a40e6!important;
}

.header, .header-after {
  height: 80px;
}

.header {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  background-color: #fff;
}

.container {
  padding: 0 2.8rem;
}

.w--100 {
  width: 100%!important;
}

.middle-xs {
  align-items: center;
}

.row {
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.col-md-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  flex: 0 0 auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

.header__logo img {
  width: 180px!important;
}

a {
  color: #222;
  text-decoration: none;
  transition: all .3s;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.col-md-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.end-xs {
  justify-content: flex-end;
  text-align: right;
}

.menu {
  list-style: none;
  left: 0;
}

.middle-xs {
  align-items: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: right;
}

.is-flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin-left: 2rem;
  font-size: .875rem;
  letter-spacing: .2px;
}

.is-relative {
  position: relative;
}

.btn--dropdown {
  font-size: .875rem;
  background: #f6f6f6;
  padding: .3125rem 1.75rem .3125rem .3125rem;
  border-radius: 2rem;
}

.menu__link--user {
  display: flex!important;
  align-items: center;
  justify-content: flex-start;
}

.user-avatar {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}

.px--6 {
  padding-left: 6px!important;
}



.user-menu__link {
  padding: 13px 16px!important;
  display: block;
  box-shadow: 0 1px 0 0 #eeeef0;
  position: relative;
}

.user-menu {
  background: #fff;
  padding-bottom: 25px;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn--dropdown {
  font-size: .875rem;
  background: #f6f6f6;
  padding: .3125rem 1.75rem .3125rem .3125rem;
  border-radius: 2rem;
}

.middle-xs {
  align-items: center;
}

.container {
  max-width: 1400px;
}

.btn--dropdown:before {
  content: "";
  position: absolute;
  border: .3125rem solid transparent;
  border-top-color: #222;
  right: 12px;
  top: calc(50% - 2.5px);
}

/* .image{
    background-image: url(https://trmhospitality.com/wp-content/uploads/2018/07/DSC_0655.jpg);
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.alert .p .button {
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    line-height: 20;
    display: inline-block;
    color: white
  }
  .alert{
    line-height: 20px;
    height: 200px;
    text-align: center;
  }
  .alert {
    position: relative;
    padding: 3.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
} */
.section+.section {
  margin-top: 3.5rem;
}
.container--md {
  max-width: calc(1520px + 5.6rem);
}
.container {
  padding: 0 2.8rem;
}
.is-flex.align-end {
  align-items: flex-end;
}
.is-flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.d-sm-inline {
  display: inline!important;
}

.promotion-box__desc>.desc-item, .semi-bold {
  font-weight: 600;
}
.text-orange {
  color: #f65e39;
}
a {
  text-decoration: none;
  transition: all .3s;
}
a {
  color: #222;
  text-decoration: none;
  transition: all .3s;
}
.slick-slider {
  box-sizing: border-box;
}
.room-carousel-wrap .slick-next, .room-carousel-wrap .slick-prev {
  top: 30%;
}
.slick-prev.slick-disabled {
  transform: translate(-20px,-50%);
}
.slick-next.slick-disabled, .slick-prev.slick-disabled {
  opacity: 0;
}
.slick-next, .slick-prev {
  background: #fff;
  border: none;
}
.slick-prev {
  left: -15px;
}
.slick-next, .slick-prev {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  color: transparent;
  padding: 0;
  outline: none;
  box-shadow: 0 0 7px -4px #000;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  transition: all .3s ease-in-out;
  z-index: 1;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
element.style {
  opacity: 1;
  width: 3840px;
  transform: translate3d(0px, 0px, 0px);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slide {
  padding-left: .5rem;
  padding-right: .5rem;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
element.style {
  width: 100%;
  display: inline-block;
}
.promo {
  margin-top: 1.5rem;
}
.is-relative {
  position: relative;
}
.promo__image-wrap {
  position: relative;
  z-index: 0;
}
.promo__content {
  margin-top: .5rem;
  font-size: .875rem;
}
.promo__type {
  font-size: .75rem;
  text-transform: uppercase;
  color: #888;
  display: -webkit-box;
  max-height: 1.5rem;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bold, .coupon__action, .coupon__code {
  font-weight: 700;
}
.is-relative {
  position: relative;
}
.promo__description {
  font-size: 14px;
}
.my--6 {
  margin-top: 6px;
  margin-bottom: 6px!important;
}
.text-lowercase {
  text-transform: lowercase!important;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  padding-left: .5rem;
  padding-right: .5rem;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-next, .slick-prev {
  background: #fff;
  border: none;
}
.slick-next {
  right: -15px;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
.slick-next, .slick-prev {
  position: absolute;
  display: block;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  color: transparent;
  transform: translateY(-50%);
  padding: 0;
  outline: none;
  box-shadow: 0 0 7px -4px #000;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  transition: all .3s ease-in-out;
  z-index: 1;
}
.section+.section {
  margin-top: 3.5rem;
}
.container--md {
  max-width: calc(1520px + 5.6rem);
}
.container {
  padding: 0 2.8rem;
}
.container {
  margin: auto;
}
.mb--18 {
  margin-bottom: 18px!important;
}