<form [formGroup]="formEditPass" (ngSubmit)="onSubmitForm()">
    <!-- <div class="form-group">
        <label>Mật khẩu hiện tại</label>
        <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPass"><br>
        <label>Mật khẩu mới</label>
        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPass"><br>
        <label>Xác nhận mật khẩu mới</label>
                    <input type="text" class="form-control" name="newPasswordAgain" [(ngModel)]="newPassAgain">
    </div> -->
    <div class="form-group">
        <label for="">Mật khẩu hiện tại</label>
        <input id="password" formControlName="oldPass" type="password" class="form-control modal-form-input"
            (keydown)="keyDownPassword($event)" />

        <div *ngIf="submitted; else notPassword">
            <div style="color: red; font-size: 14px" *ngIf="formEditPass.controls.oldPass.errors?.required||formEditPass.controls.oldPass.dirty
&& formEditPass.controls.oldPass.invalid
||formEditPass.controls.oldPass.touched">
                <div *ngIf="formEditPass.controls.oldPass.errors?.required; else enter5">
                    Vui lòng nhập trường này!</div>
                <ng-template #enter5>
                    <div *ngIf="formEditPass.controls.oldPass.errors?.pattern">
                        Không được nhập các kí tự đặc biệt</div>
                </ng-template>
            </div>
        </div>

        <ng-template #notPassword>
            <div style="color: red; font-size: 14px" *ngIf="formEditPass.controls.oldPass.dirty && formEditPass.controls.oldPass.invalid 
||formEditPass.controls.oldPass.touched">
                <div *ngIf="formEditPass.controls.oldPass.errors?.required; else enter5">
                    Vui lòng nhập trường này!</div>
                <ng-template #enter5>
                    <div *ngIf="formEditPass.controls.oldPass.errors?.pattern">
                        Không được nhập các kí tự đặc biệt</div>
                </ng-template>
            </div>
        </ng-template>
    </div>

    <div class="form-group">
        <label for="">Mật khẩu mới</label>
        <input type="password" class="form-control" formControlName="newPass" (keydown)="keyDownPassword($event)" >

        <div *ngIf="submitted; else notNewPassword">
            <div style="color: red; font-size: 14px" *ngIf="formEditPass.controls.newPass.errors?.required||formEditPass.controls.newPass.dirty
    && formEditPass.controls.newPass.invalid
    ||formEditPass.controls.newPass.touched">
                <div *ngIf="formEditPass.controls.newPass.errors?.required; else enter">
                    Vui lòng nhập trường này!</div>
                <ng-template #enter>
                    <div *ngIf="formEditPass.controls.newPass.errors?.pattern">
                        Không được nhập các kí tự đặc biệt</div>
                </ng-template>
            </div>
        </div>

        <ng-template #notNewPassword>
            <div style="color: red; font-size: 14px" *ngIf="formEditPass.controls.newPass.dirty && formEditPass.controls.newPass.invalid 
    ||formEditPass.controls.newPass.touched">
                <div *ngIf="formEditPass.controls.newPass.errors?.required; else enter">
                    Vui lòng nhập trường này!</div>
                <ng-template #enter>
                    <div *ngIf="formEditPass.controls.newPass.errors?.pattern">
                        Không được nhập các kí tự đặc biệt</div>
                </ng-template>
            </div>
        </ng-template>
    </div>

    <div class="form-group">
        <label for="">Xác nhận mật khẩu mới</label>
        <input type="password" class="form-control" formControlName="confirmPassword" (keydown)="keyDownPassword($event)" >
        <div *ngIf="submitted && formEditPass.get('confirmPassword').errors; else notCf"style="color: red; font-size: 14px">
            <div *ngIf="formEditPass.get('confirmPassword').errors['required']">
                Vui lòng nhập lại mật khẩu mới!</div>

            <div *ngIf="formEditPass.get('confirmPassword').errors['mustMatch']">Mật khẩu phải trùng khớp</div>
        </div>
        <ng-template #notCf>
            <div style="color: red; font-size: 14px"
                *ngIf="formEditPass.get('confirmPassword').dirty && formEditPass.get('confirmPassword').errors">
                <div *ngIf="formEditPass.get('confirmPassword').errors['required']">
                    Vui lòng nhập lại mật khẩu mới!</div>
                <div
                    *ngIf="formEditPass.get('confirmPassword').touched &&formEditPass.get('confirmPassword').errors['mustMatch']">
                    Mật khẩu phải trùng khớp</div>
            </div>
        </ng-template>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <div *ngIf="submitted && formEditPass.get('oldPass').dirty" style="color: red; font-size: 14px">{{message}}</div>
</form>